.tag {
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 4px 20px 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag > .removeTagButton {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    height: 100%;
    position: relative;
    right: -7px;
    border-radius: 50%;
}

.tag > .removeTagButton > svg {
    width: 20px;
    height: 20px;
    position: relative;
    left: 0;
    top: -2px;
}

.addTagButton {
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.addTagButton > svg {
    height: 26px;
    width: 26px;
}

.tagInput {
    margin: 0 10px;
    height: 30px;
    margin-bottom: 5px;
}

.tagInput > input {
    height: 100%;
}

.tagInput > input:focus {
    border: none;
}
