.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.wrapper > input {
    flex-grow: 1;
    padding-left: 10px;
    margin-right: 5px;
    max-width: 600px;
}

.wrapper > input:focus {
    border: none;
}
