.fullScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 10%, 0.5);
    display: flex;
    justify-content: center;
}

.container {
    margin: 40px 0;
    width: min(800px, 90%);
    background-color: white;
}
