/*grid, auto-fill minmax*/

#card {
    width: 350px;
    height: 200px;
    overflow: hidden;
    padding: 0;
    margin: 0 10px 20px 10px;
    cursor: pointer;
    transition-duration: 100ms;
}

#card:hover {
    box-shadow: 4px 4px hsl(0, 0%, 50%);
    outline-offset: -1px;
    transform: translate(-4px, -4px);
    transition-duration: 100ms;
}

#cardTitle {
    font-size: 1.2rem;
}

.cardHeader {
    display: flex;
    flex-wrap: nowrap;
}

.tags {
    margin-right: 10px;
    white-space: nowrap;
    max-height: 50px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteButton {
    aspect-ratio: 1 / 1;
    display: flex !important;
    align-items: center;
}
