/*grid, auto-fill minmax*/

:root {
    --open-animation-duration: 200ms;
}

.wrapper {
    transition-duration: var(--open-animation-duration);
}

.wrapper.active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.2);
    transition-duration: var(--open-animation-duration);
}

#card {
    height: 250px;
    overflow: hidden;
    padding: 0;
    margin: 0 10px 20px 10px;
    cursor: pointer;
    transition-duration: var(--open-animation-duration);
}

#card:hover {
    box-shadow: 3px 3px 7px hsl(0, 0%, 60%);
    outline-offset: -1px;
    transform: translate(-3px, -3px);
    transition-duration: 100ms;
}

#cardTitle {
    font-size: 1.2rem;
}

.cardHeader {
    display: flex;
    flex-wrap: nowrap;
}

.tags {
    margin-right: 10px;
    white-space: nowrap;
    max-height: 50px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteButton {
    aspect-ratio: 1 / 1;
    display: flex !important;
    align-items: center;
}
